* {
    box-sizing: border-box;
    margin: 0px;
}

.body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    background: grey;
}
.spacer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    flex-grow: 12;
    flex-shrink: 1;
    flex-basis: 0;
    height: 15vh;
    background: white;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    flex-grow: 12;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 15vh;
    background: #D1E4F5;
    position: fixed;
}


.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    min-width: 95vw;
    min-height: 40vh;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background: pink;
}

.halfrow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    min-width: 95vw;
    min-height: 20vh;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background: pink;
}

.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 15vw;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
    height: 15vh;
    background: #D1E4F5;
}



 .logoImg {
    display: flex;
    flex-direction: row;
    flex-basis: 1;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 15vw;
    height: 15vh;
  }

  .headshot{
    display: flex;
    flex-direction: row;
    margin: 10px;
    flex-basis: 1;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 15vw;
    height: 25vh;
    border-radius: 25%;
    border: 2px solid black;
  }

  .leftImg{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    width: 15vw;
    min-height: 45vh;
  }

  .halfleftImg{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        width: 15vw;
        min-height: 20vh;
  }

.titleContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 45vw;
    flex-grow: 12;
    flex-shrink: 1;
    flex-basis: 1;
    height: 8vh;
    background: #D1E4F5; 
}


.navContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 35vw;
    flex-grow: 12;
    flex-shrink: 3;
    flex-basis: 1;
    height: 8vh;
    padding: 5px;
    background: #D1E4F5; 
}

.navItem{
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    min-width: 5vw;
    min-height: 5vh;
    margin: 0px 5px 0px 5px;
}


.title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    padding: 5px 0px 5px 40px;
    margin: 3px 0px 3px 20px;
    font-size: 3em;
    -webkit-text-fill-color:#476E91;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.sectionTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    padding: 5px 0px 5px 0px;
    margin: 3px 0px 3px 0px;
    font-size: 2em;
    -webkit-text-fill-color:#476E91;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.left{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        min-width: 15vw;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        min-height: 45vh;
        background: orange;
}

.halfleft{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    min-width: 15vw;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 20vh;
    background: orange;
}

.middle{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 70vw;
    flex-grow: 12;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 45vh;
    background: #D1E4F5; 
}

.halfmiddle{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 70vw;
    flex-grow: 12;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 20vh;
    background: #D1E4F5; 
}



.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 30vh;
    width: 65vw;
    flex-basis: 0;
    flex-shrink: 1;
    margin: 10px;
    padding: 20px;
    background: #D1E4F5;
    border-bottom: 2px solid #DEBB83;
    border-top: 2px solid #DEBB83;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    margin: 10px;
    padding: 10px;


}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    flex-grow: 12;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 15vh;
    background: #D1E4F5;
}


